* {
    margin: 0;
    padding: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

#container-colors {
    display: block;
}
#color-red {
    width: 350px;
    height: 300px;
    background-color: red;
    display: none;
}

#color-blue {
    width: 350px;
    height: 300px;
    background-color: blue;
    display: none;
}

#dataUsers {
    display: block;
}

#toggleRestart {
    display: none;
}

#username {
    width: 220px;
    height: 30px;
    padding: 1px 5px;
    color: #fff;

    background-color: rgb(75, 76, 76);
    border: none;
}

#toggleStart {
    width: 110px;
    height: 30px;
    padding: 2px 0px;
    background-color:  rgb(75, 76, 76);
    color: #fff;
    border: none;
    border-style: none;
    cursor: pointer;
}

#toggleRestart {
    width: 125px;
    height: 32px;
    background-color: rgb(75, 76, 76);
    color: #fff;
    border: none;
    cursor: pointer;
}