* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgrey;
}

#contentDownload {
    background-color: dimgrey;
    display: none;
    position: fixed;
    z-index: 10;
}

#btnExportData {
    width: 50px;
    height: 40px;
    margin-left: 1350px;
    background-color: dimgray;
    color: #fff;
    border: none;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}

#head {
    margin-bottom: 50px;
    font-size: 70px;
    color: white;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 3px;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

#dataUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#username {
    width: 220px;
    height: 25px;
    padding: 1px 5px;
    background-color: rgb(78, 77, 77);
    border: 2px solid rgb(78, 77, 77);
    border-color: none;
    color: #fff;
}

#dose {
    width: 50px;
    height: 25px;
    padding: 1px 5px;
    background-color: rgb(78, 77, 77);
    border: 2px solid rgb(78, 77, 77);
    border-color: none;
    color: #fff;
}

#toggleStart {
    width: 200px;
    height: 35px;
    padding: 2px 0px;
    background-color:  rgb(75, 76, 76);
    color: #fff;
    border: none;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}