* {
    margin: 0;
    padding: 0;
}
body {
    background-color: dimgrey;
}
#content-download {
    background-color: dimgrey;
    display: none;
}

#btn-exportData {
    width: 100px;
    height: 40px;
    margin-left: 1350px;
    background-color:  rgb(75, 76, 76);
    color: #fff;
    border: none;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}
#container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

#dataUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#username {
    width: 220px;
    height: 25px;
    padding: 1px 5px;
    background-color: rgb(78, 77, 77);
    border: 2px solid rgb(78, 77, 77);
    border-color: none;
    color: #fff;
}

#dose {
    width: 50px;
    height: 25px;
    padding: 1px 5px;
    background-color: rgb(78, 77, 77);
    border: 2px solid rgb(78, 77, 77);
    border-color: none;
    color: #fff;
}

#toggleStart {
    width: 200px;
    height: 35px;
    padding: 2px 0px;
    background-color:  rgb(75, 76, 76);
    color: #fff;
    border: none;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}